#trail-card {
    background-color: #e6e6e6fb;
    border-radius: 15px;

    font-size: 20px;
    border-radius: 5px;
    
    width: 350px;
    height: auto;
    
    text-align: center;
    line-height: 40px;
    
    margin: 20px 5px;
    padding: 10px;
}

#trail-learn-list {
    text-align: left;
    color: black;
}

#card-title {
    color: #26ADE4;
}

ul {
    list-style-type: circle;
    display: table;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

b {
    color: black;
}