#trail-card {
    background-color: #e6e6e6fb;
    border-radius: 15px;

    font-size: 20px;
    border-radius: 5px;

    width: 400px;
    height: auto;

    text-align: center;
    vertical-align: middle;
    line-height: 40px;

    margin: 20px auto;
    padding: 10px;
}

#card-title {
    color: #26ADE4;
}

ul {
    list-style-type: none;
    display: table;
    margin: 0 auto;
}