.mentorPage {
    display: flex;
    align-items: center;
}

#infos {
    margin: 10px auto;
    padding: auto 30px;

    width: 38%;
    height: 620px;

    background-color: #c2d74d;
    color: white;

    border-radius: 5px;

    align-items: center;
    justify-content: center;
}

.paragraph {
    margin: 20px;

    font-size: 20px;
}

#mentors {
    display: flex;
    flex-wrap: wrap;
}

#searchMentor {
    margin: 5px;
    margin-left: 20px;

    padding: 4px;
    padding-left: 6px;

    height: 25px;

    background-color: #D2EDF8;

    border-radius: 10px;

    vertical-align: middle;
    line-height: 25px;
}

#lupa {
    padding-left: 5px;
}

#searchInput {
    background-color: #D2EDF8;
    border: 0px;
    padding-left: 10px;
    width: 300px;
}