.mentorPage {
    display: flex;
}

#mentors-infos {
    margin: 40px 20px;
    padding: auto 60px;

    width: 40%;
    height: auto;

    background-color: #c6dc4c;
    color: white;

    border-radius: 5px;

    text-align: center;
}

#title {
    margin-top: 35px;
    font-size: 40px;
    margin-bottom: 20px;
}

#titleLegend {
    margin: 20px;
    font-size: large;
}

.paragraph {
    margin: 20px;

    font-size: 16px;
    width: 85%;

    height: 100px;
}

#mentors {
    display: flex;
    flex-wrap: wrap;

    justify-content: center; 
}

#searchTrail {
    margin: 5px;
    margin-left: 20px;

    padding: 4px;
    padding-left: 6px;

    height: 25px;

    background-color: #D2EDF8;

    border-radius: 10px;

    vertical-align: middle;
    line-height: 25px;
}

#lupa {
    padding-left: 5px;
}

#searchInput {
    background-color: #D2EDF8;
    border: 0px;
    padding-left: 10px;
    width: 300px;
}

#paragraph1 {
    margin: 30px;

    display: flex;
    text-align: center;
    font-size: x-large;

    height: 25%;
}

#paragraph2 {
    margin: auto 30px;

    display: flex;
    text-align: center;
    font-size: x-large;

    height: 25%;
}