#profile-page {
    display: flex;
}

#profile-info {
    background-color: greenyellow;
}

#profile-trails {
    background-color: yellow;
}

#profile-user-info-div {
    margin: 40px auto;
    padding: auto auto;

    width: 40%;
    height: 670px;
    
    border-radius: 15px;

    text-align: center;

}

#user-avatar {

    width: 200px;

    margin-top: 30px;
}

#profile-user-name {
    color: black;

    margin-top: 8px;
}

#profile-user-became-mentor-button {
    border: 0px;
    border-radius: 5px;
    background-color: #26ADE4;
    color: white;

    width: 170px;
    height: 50px;

    margin-top: 10px;
}

#profile-user-became-mentor-button-in-progress {
    border: 0px;
    border-radius: 5px;
    background-color: grey;
    color: white;

    width: 170px;
    height: 50px;

    margin-top: 10px;
}

#profile-user-logof-button {
    border: 0px;
    border-radius: 5px;
    background-color: red;
    color: white;

    width: 170px;
    height: 50px;

    margin-top: 10px;
}

#user-tag {
    margin-top: 20px;
    margin-bottom: 0px;

    background-color: #c6dc4c;
    color: white;

    border-radius: 5px;
    border: 0px;

    width: 70px;
    height: 30px;
}

#profile-user-trails-div {
    margin: 40px auto;
    padding: auto 50px;

    width: 50%;
    height: 900px;

    background-color: #c6dc4c;
    color: white;

    border-radius: 15px;

    text-align: center;
}

#profile-user-trail-title {
    font-size: xx-large;
    color: black;

    margin-top: 30px;
}

#profile-user-trail-subtitle {
    font-size: large;
    color: black;
}

#scheduled-mentorings-div {
    text-align: center;

    margin-top: 40px;
}

#scheduled-mentorings-title {
    color: black;
}

#scheduled-mentorings-subtitle {
    margin-top: 10px;
}

#scheduled-mentorings-list {
    display: flex;
    flex-wrap: wrap;

    margin-top: 30px;
}

.scheduled-mentoring-item {
    border-radius: 5px;

    background-color: #ececec;

    padding: 20px;

    margin-right: 10px;
    margin-bottom: 10px;

    width: 200px;
}

.scheduled-mentoring-item-title-date {
    color: #a3b43e;
}

.scheduled-mentoring-item-content {
    margin-top: 8px;
}

.scheduled-mentoring-item-content.status {
    border: 1px solid black;
    border-radius: 5px;

    padding-top:3px;
    padding-bottom:3px;

    color: white;
}

.scheduled-mentoring-item-content.status.pending {
    background-color: grey;
}

.scheduled-mentoring-item-content.status.confirmed {
    background-color: #c6dc4c;
}
