#trails-page {
    display: flex;
    border: 1px solid red;
}

#trails-div {
    margin-top: 40px;

    width: 50%;
    height: 50%;
}

#trails-infos {
    margin: 10px auto;
    padding: auto 50px;

    width: 38%;
    height: 670px;

    background-color: #c6dc4c;
    color: white;

    border-radius: 15px;

    text-align: center;
}

#title {
    font-size: 45px;
    margin-bottom: 20px;
}

#titleLegend {
    margin: 20px;
    font-size: x-large;
}

.paragraph {
    margin: 20px;

    font-size: 20px;
    width: 85%;

    height: 100px;
}

#trails-div-list {
    display: flex;
    flex-wrap: wrap;

    text-align: center;
}

#searchMentor {
    margin: 5px;
    margin-left: 20px;

    padding: 4px;
    padding-left: 6px;

    height: 25px;

    background-color: #D2EDF8;

    border-radius: 10px;

    vertical-align: middle;
    line-height: 25px;
}

#lupa {
    padding-left: 5px;
}

#searchInput {
    background-color: #D2EDF8;
    border: 0px;
    padding-left: 10px;
    width: 300px;
}

#paragraph1 {
    margin: 30px;

    display: flex;
    text-align: center;
    font-size: x-large;

    height: 25%;
}

#paragraph2 {
    margin: auto 30px;

    display: flex;
    text-align: center;
    font-size: x-large;

    height: 25%;
}