.pageTab {
    background-color: #4DBCE9;
    color: white;

    width: 200px;
    height: 40px;
    top: 8px;
    left: 104px;
    
    border-radius: 8px;

    text-align: center;
    vertical-align: middle;
    line-height: 40px;

    margin-left: 10px;
}